.cart-form {
  background: white;
  padding: 20px;
  padding-bottom: 20px;
}

.cart-form td {
  text-align: center;
}

.cart-form table.views-table {
  margin-bottom: 30px;
  width: 100%;
}

.cart-form table.views-table thead {
  background: #3D0800;
  line-height: 4em;
  font-weight: bold;
  font-size: 1.2em;
  color: white;
}

.cart-form table.views-table thead th:first-child {
  min-width: 200px;
}

.cart-form table.views-table tbody td {
  width: 116px;
  background: #f4f4f0;
}

.cart-form table.views-table tbody td:nth-child(2n -1) {
  background: #e8dfdf;
}

.cart-form table.views-table tbody .views-field-purchased-entity {
  padding-left: 15px;
  font-size: 18px;
  font-weight: 700;
  text-align: left !important;
}

.cart-form table.views-table tbody .views-field-unit-price__number,
.cart-form table.views-table tbody .views-field-total-price__number {
  text-align: center;
}

.cart-form table.views-table tbody .js-form-item {
  margin: 0;
  height: 45px;
  width: auto;
}

.cart-form table.views-table tbody input {
  height: 100%;
  width: 100%;
  background: inherit;
  border: none;
  border-radius: 0;
  text-align: center;
}

.cart-form .form-actions {
  position: relative;
  margin-top: 10px;
  height: 40px;
  width: auto;
}

.cart-form .form-actions .button {
  position: absolute;
  height: 100%;
  width: 100px;
  margin: 0;
  border: none;
  border-radius: 5px;
  color: white;
  background: #3D0800;
  cursor: pointer;
}

.cart-form .form-actions #edit-checkout {
  top: 0;
  right: 0;
}

.cart-form .form-actions #edit-submit {
  top: 0;
  right: 130px;
}
