@charset "UTF-8";
.popup-block div.product-hidden .right-col fieldset.description-fieldset .room-conf, .popup-block div.product-hidden .right-col fieldset.description-fieldset .field--name-field-description {
  margin: 25px 0;
}

* {
  margin: 0;
  padding: 0;
}

img[src*="vertical"] {
  margin: auto !important;
  width: 44% !important;
  margin-bottom: 30px !important;
}

body {
  font-family: Open Sans,sans-serif;
  font-size: 12px;
}

header {
  background-image: url("img/background_header_light.jpeg");
  -webkit-background-image: url("img/background_header_light.jpeg");
  background-position: 50%;
  background-size: cover;
}

.region-header-first {
  position: relative;
  height: auto;
  padding: 0 5%;
  background: rgba(0, 0, 0, 0.3);
  color: white;
}

.region-header-first:after {
  content: '';
  display: table;
  clear: both;
}

.region-header-first #block-bookbtn-branding {
  margin-top: 3px;
  float: left;
}

.region-header-first #block-bookbtn-branding .site-name a {
  text-decoration: none;
  font-size: 2em;
  color: white;
  cursor: pointer;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.region-header-first #block-bookbtn-branding .site-name a:hover {
  color: #4d4d4d;
}

.region-header-first #block-bookbtn-blockheadertop {
  float: right;
  padding-right: 50px;
}

.region-header-first #block-bookbtn-blockheadertop .field {
  font-size: 12px;
  font-weight: 700;
}

.region-header-first #block-bookbtn-blockheadertop .field--name-field-currency-language {
  height: 100%;
}

.region-header-first #block-bookbtn-blockheadertop .field--name-field-currency-language a {
  text-decoration: none;
  color: white;
  line-height: 3em;
  cursor: pointer;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.region-header-first #block-bookbtn-blockheadertop .field--name-field-currency-language a:hover {
  color: #4d4d4d;
}

.region-header-first #block-languageswitcher {
  height: auto;
  width: 250px;
  position: absolute;
  top: 100%;
  right: 0;
  display: none;
  background: rgba(0, 0, 0, 0.3);
  z-index: 100;
  color: white;
  text-transform: uppercase;
  opacity: 0.8;
}

.region-header-first #block-languageswitcher ul {
  margin: 20px;
  margin-left: 15px;
  list-style: none;
}

.region-header-first #block-languageswitcher ul li {
  line-height: 3em;
  cursor: pointer;
}

.region-header-first #block-languageswitcher ul li a {
  text-decoration: none;
  color: white;
  text-decoration: none;
}

.region-header-first #block-languageswitcher ul li a:hover {
  color: #2f2f2f;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.region-header-second {
  position: relative;
  padding-top: 250px;
  width: 100%;
  height: 200px;
}

.region-header-second #block-logoandicons {
  margin: auto;
}

.region-header-second #block-logoandicons .block-content--type-logo-icons {
  margin: auto;
  width: 90%;
  display: flex;
}

.region-header-second #block-logoandicons .block-content--type-logo-icons .group-left {
  flex: 3;
}

.region-header-second #block-logoandicons .block-content--type-logo-icons .group-left .field--name-field-logo img {
  margin-right: 35px;
  float: right;
  height: 150px;
  width: auto;
}

.region-header-second #block-logoandicons .block-content--type-logo-icons .group-right {
  flex: 4;
  padding-left: 15px;
  border-left: 7px solid white;
}

.region-header-second #block-logoandicons .block-content--type-logo-icons .group-right .field--name-field-slogan {
  margin-bottom: 12px;
  color: #fff;
  font-size: 1.5em;
  text-transform: uppercase;
}

.region-header-second #block-logoandicons .block-content--type-logo-icons .group-right .field--name-field-icons-text {
  display: flex;
}

.region-header-second #block-logoandicons .block-content--type-logo-icons .group-right .field--name-field-icons-text .field__item {
  flex: 1;
  max-width: 120px;
  min-width: 85px;
  text-align: center;
  color: #fff;
  font-size: 1em;
  word-spacing: 1px;
}

.region-header-second #block-exposedformapartmentpage-1 {
  display: none;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  min-height: 76px;
  background-color: transparent;
}

.region-header-second form {
  margin-left: 5%;
}

.region-header-second .form-item {
  margin-right: 5px;
  display: inline-block;
  font-size: 13px;
}

.region-header-second label,
.region-header-second input {
  display: block;
}

.region-header-second label {
  margin-bottom: 2px;
  color: white;
}

.region-header-second input,
.region-header-second select {
  padding: 6px 12px;
  width: 150px;
  height: 35px;
  border: 1px solid #ccc;
  background-color: #eee;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  opacity: 1;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-size: 14px;
  color: #555;
  box-sizing: border-box;
}

.region-header-second select {
  width: 100px;
  background-color: white;
  align-items: center;
  white-space: pre;
}

.region-header-second .form-submit {
  display: none;
}

main {
  padding: 3% 5%;
  background: #eaeaea;
}

main:after {
  content: '';
  display: table;
  clear: both;
}

main .layout-content {
  margin-right: 20px;
  width: 75%;
  padding-top: 0;
  padding-right: 10px;
  float: left;
}

main .layout-content .region-content {
  min-width: 100%;
}

main .layout-content .views-row article {
  margin-bottom: 25px;
  padding-top: 0;
  min-height: 250px;
  height: auto;
  background: white;
}

main .layout-content .views-row article .product-item {
  display: block;
  position: relative;
  background: #fff;
}

main .layout-content .views-row article .product-item:after {
  content: '';
  display: table;
  clear: both;
}

main .layout-content .views-row article .product-item a {
  pointer-events: none;
}

main .layout-content .views-row article .product-item a:hover {
  color: grey;
}

main .layout-content .views-row article .product-item .image-wrapper.left-col {
  display: inline-block;
  float: left;
  cursor: pointer;
}

main .layout-content .views-row article .product-item .image-wrapper.left-col .field--name-field-image {
  width: 350px;
  height: auto;
}

main .layout-content .views-row article .product-item .image-wrapper.left-col .field--name-field-image img {
  width: 100%;
  height: auto;
  cursor: pointer;
}

main .layout-content .views-row article .product-item .right-col {
  padding-left: 25px;
  display: inline-block;
  float: left;
  width: 40%;
}

main .layout-content .views-row article .product-item .right-col .field--name-title {
  margin: 15px 0;
  font-size: 22px;
  font-weight: 400;
  color: #3D0800;
  cursor: pointer;
}

main .layout-content .views-row article .product-item .right-col .field--name-field-more-information {
  margin: 15px 0;
  cursor: pointer;
}

main .layout-content .views-row article .product-item .right-col .room-conf {
  /* Поля конфігурації кімнати */
}

main .layout-content .views-row article .product-item .right-col .room-conf > div {
  display: inline-block;
}

main .layout-content .views-row article .product-item .right-col .room-conf .field--label-above .field__label,
main .layout-content .views-row article .product-item .right-col .room-conf .field--label-above .field__item {
  display: none;
  float: none;
}

main .layout-content .views-row article .product-item .right-col .field--name-field-amenities {
  margin: 10px 0;
}

main .layout-content .views-row article .product-item .right-col .field--name-field-amenities .field__label {
  display: none;
}

main .layout-content .views-row article .product-item .right-col .field--name-field-amenities .field__item {
  float: none;
}

main .layout-content .views-row .variations-custom {
  float: right;
  height: 250px;
  width: 15%;
  position: relative;
}

main .layout-content .views-row .variations-custom .variations-custom-wrap {
  position: absolute;
  top: 60%;
  right: -22px;
  transform: translate(-50%, -50%);
}

main .layout-content .views-row .variations-custom .variations-custom-wrap .field--name-price .field__label {
  font-size: 15px;
  font-weight: 700;
  line-height: 1em;
  color: #3D0800;
}

main .layout-content .views-row .variations-custom .variations-custom-wrap .field--name-price .field__item {
  margin-top: 5px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1em;
  color: #3D0800;
}

main .layout-content .views-row .variations-custom .variations-custom-wrap .field--name-variations {
  margin-top: 10px;
  height: 40px;
  width: 100px;
}

main .layout-content .views-row .variations-custom .variations-custom-wrap .field--name-variations .form-item, main .layout-content .views-row .variations-custom .variations-custom-wrap .field--name-variations .form-actions {
  margin-top: 0em;
  margin-bottom: 0em;
}

main .layout-content .views-row .variations-custom .variations-custom-wrap .field--name-variations .field__label {
  display: none;
}

main .layout-content .views-row .variations-custom .variations-custom-wrap .field--name-variations .form-actions {
  display: none;
  height: 40px;
  width: 100px;
}

main .layout-content .views-row .variations-custom .variations-custom-wrap .field--name-variations .form-actions .button {
  height: 100%;
  width: 100%;
  border: none;
  border-radius: 4px;
  color: white;
  font-weight: bolder;
  background: #3D0800;
  cursor: pointer;
}

blockquote {
  margin-bottom: 25px;
  background: #fbf1f1;
  color: #333334;
  padding: 20px 30px;
  position: relative;
  border-left: 35px solid #3D0800;
  font-family: 'Lato', sans-serif;
}

blockquote:before {
  font-family: serif;
  position: absolute;
  left: -29px;
  top: 5px;
  color: #BCBCBC;
  font-size: 50px;
  text-shadow: 1px 2px 0 white;
}

blockquote p {
  margin: 0 8px;
  font-size: 18px;
  line-height: 1.7;
}

blockquote footer {
  margin: 0 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 2;
}

/* BEGIN Magnific pop-up */
/* info http://dimsemenov.com/plugins/magnific-popup/documentation.html#mainclass */
.popup-block div.product-hidden {
  margin: auto;
  padding: 2%;
  padding-top: 12px;
  height: auto;
  width: 70%;
  position: relative;
  background: #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.popup-block div.product-hidden:after {
  content: '';
  display: table;
  clear: both;
}

.popup-block div.product-hidden .field--name-title {
  margin: 0;
  margin-bottom: 5px;
  text-transform: uppercase;
  color: #3D0800;
}

.popup-block div.product-hidden a {
  pointer-events: none;
}

.popup-block div.product-hidden a:hover {
  color: grey;
}

.popup-block div.product-hidden .image-wrapper.left-col {
  display: block;
  width: 55%;
  float: left;
  /* BEGIN Image modal */
  /* Add Animation */
  /* END W3school Image modal */
}

.popup-block div.product-hidden .image-wrapper.left-col .field--name-field-image {
  width: 100%;
  height: auto;
}

.popup-block div.product-hidden .image-wrapper.left-col .field--name-field-image:after {
  content: '';
  display: table;
  clear: both;
}

.popup-block div.product-hidden .image-wrapper.left-col .field--name-field-image .field__item {
  position: relative;
  display: block;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 70px;
  height: 70px;
  overflow: hidden;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 4px;
}

.popup-block div.product-hidden .image-wrapper.left-col .field--name-field-image img {
  width: auto;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
}

.popup-block div.product-hidden .image-wrapper.left-col .field--name-field-image img:hover {
  opacity: 0.85;
}

.popup-block div.product-hidden .image-wrapper.left-col .field--name-field-image img[src*="vertical"] {
  margin: auto !important;
  width: auto !important;
  height: 230px !important;
  margin-bottom: 30px !important;
}

.popup-block div.product-hidden .image-wrapper.left-col .myModal {
  border-bottom: 1px solid #b8b6b6;
  margin-bottom: 30px;
}

.popup-block div.product-hidden .image-wrapper.left-col .modal-content {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  margin-bottom: 30px;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.popup-block div.product-hidden .image-wrapper.left-col .modal-content {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.4s;
  animation-name: zoom;
  animation-duration: 0.4s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.popup-block div.product-hidden .right-col {
  position: relative;
  margin-left: 25px;
  display: inline-block;
  width: 40%;
  float: left;
}

.popup-block div.product-hidden .right-col fieldset {
  padding: 20px 0;
  padding-bottom: 0;
  border: none;
  border-top: 1px solid #b8b6b6;
}

.popup-block div.product-hidden .right-col legend {
  text-align: center;
  text-transform: uppercase;
  color: #3D0800;
}

.popup-block div.product-hidden .right-col fieldset.description-fieldset {
  border: none;
  border-top: 1px solid grey;
  /* Поля конфігурації кімнати */
}

.popup-block div.product-hidden .right-col fieldset.description-fieldset .room-conf {
  margin-top: 7px;
}

.popup-block div.product-hidden .right-col fieldset.description-fieldset .room-conf > div {
  display: inline-block;
}

.popup-block div.product-hidden .right-col fieldset.description-fieldset .field--name-field-description {
  margin-top: 10px;
}

.popup-block div.product-hidden .right-col fieldset.description-fieldset .field--name-field-description .field__label {
  display: none;
}

.popup-block div.product-hidden .right-col fieldset.description-fieldset .field--name-field-more-information {
  display: none;
}

.popup-block div.product-hidden .right-col fieldset.description-fieldset .field--label-above .field__label,
.popup-block div.product-hidden .right-col fieldset.description-fieldset .field--label-above .field__item {
  display: none;
  float: none;
}

.popup-block div.product-hidden .right-col .field--name-field-amenities {
  display: block;
  margin: 10px 0;
  height: auto;
}

.popup-block div.product-hidden .right-col .field--name-field-amenities .field__label {
  display: none;
}

.popup-block div.product-hidden .right-col .field--name-field-amenities .field__item {
  display: block;
  float: none;
}

/* END Magnific pop-up */
.layout-sidebar-second {
  width: 22%;
  float: left;
  background: #fff;
}

.layout-sidebar-second #block-contactlocationv1 {
  padding-bottom: 15px;
  width: auto;
  height: auto;
}

.layout-sidebar-second #block-contactlocationv1 h2 {
  margin-bottom: 15px;
  padding: 20px;
  background-color: #464741;
  font-weight: 700;
  color: #fff;
  line-height: 1.5;
}

.layout-sidebar-second #block-contactlocationv1 .field__item {
  margin: 0 20px;
  line-height: 2;
}

.layout-sidebar-second #block-contactlocationv1 .field--name-field-site-name {
  font-size: 14px;
  font-weight: bold;
  line-height: 2.5;
}

.layout-sidebar-second #block-contactlocationv1 .field--name-field-google-maps {
  min-height: 80px;
  line-height: 70px;
  vertical-align: middle;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
}

.layout-sidebar-second #block-contactlocationv1 .field--name-field-google-maps a {
  padding-left: 60px;
}

.region-footer-first {
  padding: 3% 5%;
  height: auto;
  background: #858889;
  color: white;
}

.region-footer-first:after {
  content: '';
  display: table;
  clear: both;
}

.region-footer-first #block-aboutus {
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
  width: 75%;
  border-right: 1px solid #979797;
}

.region-footer-first #block-aboutus .field--name-field-about-us p {
  margin: 15px auto;
  margin-top: 0;
}

.region-footer-first #block-aboutus .field--name-field-main-menu-link {
  margin-bottom: 15px;
}

.region-footer-first #block-aboutus .field--name-field-main-menu-link div {
  display: inline-block;
  margin-right: 5px;
}

.region-footer-first #block-aboutus .field--name-field-image-gallery:after {
  content: '';
  display: table;
  clear: both;
}

.region-footer-first #block-aboutus .field--name-field-image-gallery .field__item {
  display: block;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 70px;
  height: 70px;
  overflow: hidden;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.region-footer-first #block-aboutus .field--name-field-image-gallery .field__item:nth-child(1) img, .region-footer-first #block-aboutus .field--name-field-image-gallery .field__item:nth-child(3) img, .region-footer-first #block-aboutus .field--name-field-image-gallery .field__item:nth-child(4) img {
  width: 100%;
  height: auto;
}

.region-footer-first #block-aboutus .field--name-field-image-gallery img {
  width: auto;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
}

.region-footer-first #block-aboutus .field--name-field-image-gallery img:hover {
  opacity: 0.85;
}

.region-footer-first #block-features {
  float: left;
  width: 22%;
}

.region-footer-first #block-features h2 {
  margin: 5px 0 15px 0;
  text-transform: uppercase;
}

.region-footer-first #block-features .field--type-list-string {
  display: inline-block;
}

.region-footer-first #block-features .field__item {
  padding: 0 4px 4px 0;
  line-height: 1.5;
  float: left;
  display: inline;
  width: 44%;
}

.region-footer-second {
  height: 40px;
  padding: 20px 100px;
  background-color: #464741;
  color: white;
}

.region-footer-second .field--type-link {
  display: inline-block;
}

.region-footer-second .field--type-link a {
  color: white;
  text-decoration: none;
  pointer-events: none;
}

.region-footer-second .field--type-link a:hover {
  color: gray;
}

.region-footer-second .field--name-field-cancellation-policies a {
  margin-left: 10px;
  padding-left: 10px;
  border-left: 1px solid white;
}

.region-footer-second .field--type-text-long {
  display: none;
}

/*-------Slick--------*/
.slick-prev {
  left: 15px;
  z-index: 100;
}

.slick-next {
  right: 15px;
  z-index: 100;
}

.slick-prev:before, .slick-next:before {
  font-family: 'slick';
  font-size: 25px;
  line-height: 1;
  opacity: .75;
  color: gray;
}

/*------END Slick-----*/
/*------BEGIN Media requests------*/
@media (max-width: 1268px) {
  #block-logoandicons .group-right .field--name-field-slogan {
    margin-bottom: 12px;
    color: #fff;
    font-size: 1.7em;
    text-transform: uppercase;
  }
  .layout-content,
  .layout-sidebar-second,
  #block-aboutus,
  #block-features {
    width: 100% !important;
  }
  #block-aboutus {
    border: none !important;
  }
  .product-hidden {
    padding: 5% !important;
    width: 80% !important;
  }
  .product-hidden .description-wrapper {
    width: 100%;
    padding-left: 0 !important;
  }
}

@media (max-width: 925px) {
  .region-header-second {
    padding-top: 75px;
    height: 350px;
  }
  .region-header-second .block-content--type-logo-icons {
    flex-wrap: wrap;
  }
  .region-header-second .block-content--type-logo-icons .group-left {
    flex: none !important;
    display: block;
    margin: auto;
    margin-bottom: 30px;
    width: 301px;
  }
  .region-header-second .block-content--type-logo-icons .group-left img {
    margin-right: 0;
    margin-left: 12px !important;
    float: none !important;
  }
  .region-header-second .block-content--type-logo-icons .field--name-field-slogan {
    font-size: 1.1em;
  }
  .image-wrapper.left-col {
    width: 100% !important;
  }
  .image-wrapper.left-col .field--name-field-image {
    width: 100% !important;
    height: auto !important;
  }
  .product-item .right-col {
    width: 90% !important;
    margin-left: 0 !important;
    padding-left: 3%;
  }
  .product-hidden .right-col {
    margin-left: 0 !important;
    width: 100% !important;
  }
  main .layout-content .views-row .variations-custom {
    position: inherit;
    height: 70px !important;
    width: 100% !important;
  }
  main .layout-content .views-row .variations-custom .variations-custom-wrap {
    position: inherit;
    top: 0;
    right: 0;
    transform: none;
  }
  main .layout-content .views-row .variations-custom .variations-custom-wrap .field--name-price {
    margin-top: 13px;
    margin-left: 14px;
    float: right;
    margin-right: 25px;
    padding-top: 4px;
  }
  main .layout-content .views-row .variations-custom .variations-custom-wrap .field--name-variations {
    float: left;
  }
}

@media (max-width: 768px) {
  #block-languageswitcher ul {
    margin: 0 0 0 20px !important;
  }
  #block-languageswitcher ul li {
    line-height: 2em !important;
  }
}

@media (max-width: 565px) {
  #block-logoandicons .block-content--type-logo-icons .group-right {
    padding-left: 0 !important;
    border: none !important;
  }
  #block-logoandicons .block-content--type-logo-icons .group-right .field--name-field-slogan {
    display: none;
  }
  #block-logoandicons .block-content--type-logo-icons .group-right .field--name-field-icons-text {
    margin: auto;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
  }
  #block-logoandicons .block-content--type-logo-icons .group-right .field--name-field-icons-text .field__item {
    visibility: hidden;
  }
  #block-logoandicons .block-content--type-logo-icons .group-right .field--name-field-icons-text .field__item:before {
    visibility: visible;
  }
  .bef-exposed-form .form--inline > .form-item {
    margin-top: 0;
    margin-bottom: 5px;
    margin-right: 1em;
    display: block;
    width: 45%;
  }
  .bef-exposed-form .form--inline > .form-item select,
  .bef-exposed-form .form--inline > .form-item input {
    width: 100%;
  }
}

@media screen and (max-width: 425px) {
  #block-bookbtn-blockheadertop {
    margin-bottom: -4px;
    padding-right: 0 !important;
  }
  #block-languageswitcher {
    width: 100% !important;
    text-align: center;
  }
}

/*------END Media requests------*/
