@charset "UTF-8";
.popup-block div.product-hidden .right-col fieldset.description-fieldset .room-conf, .popup-block div.product-hidden .right-col fieldset.description-fieldset .field--name-field-description {
  margin: 15px 0;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Open Sans,sans-serif;
  font-size: 12px;
}

.region-header-first {
  position: relative;
}

.region-header-first #block-bookbtn-blockheadertop {
  padding: 0 100px;
  min-height: 60px;
  background: #464741;
  color: white;
}

.region-header-first #block-bookbtn-blockheadertop .field {
  float: left;
  line-height: 50px;
  font-size: 22px;
  font-weight: 200;
}

.region-header-first #block-bookbtn-blockheadertop .field:last-child {
  float: right;
  font-size: 12px;
  font-weight: 700;
}

.region-header-first #block-bookbtn-blockheadertop a {
  text-decoration: none;
  color: white;
  pointer-events: none;
}

.region-header-first #block-bookbtn-blockheadertop a:hover {
  color: gray;
}

.region-header-first #block-languageswitcher {
  height: 350px;
  width: 100%;
  position: absolute;
  top: 100%;
  right: 0;
  display: none;
  background: #000;
  z-index: 100;
  color: white;
  text-transform: uppercase;
}

.region-header-first #block-languageswitcher a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.region-header-second {
  position: relative;
  width: 100%;
  height: 350px;
  background-image: url("img/header-background-image.jpg");
  -webkit-background-image: url("img/header-background-image.jpg");
  background-position: 50%;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-color: #220700;
}

.region-header-second #block-exposedformapartmentpage-1 {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  min-height: 76px;
  background-color: rgba(0, 0, 0, 0.6);
}

.region-header-second form {
  margin-left: 100px;
}

.region-header-second .form-item {
  margin-right: 5px;
  display: inline-block;
  font-size: 13px;
}

.region-header-second label,
.region-header-second input {
  display: block;
}

.region-header-second label {
  margin-bottom: 2px;
  color: white;
}

.region-header-second input,
.region-header-second select {
  padding: 6px 12px;
  width: 150px;
  height: 35px;
  border: 1px solid #ccc;
  background-color: #eee;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  opacity: 1;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-size: 14px;
  color: #555;
  box-sizing: border-box;
}

.region-header-second select {
  width: 100px;
  background-color: white;
  align-items: center;
  white-space: pre;
}

.region-header-second .form-submit {
  display: none;
}

main {
  padding: 3% 5%;
  background: #eaeaea;
}

main:after {
  content: '';
  display: table;
  clear: both;
}

main .layout-content {
  margin-right: 20px;
  width: 70%;
  padding-top: 0;
  padding-right: 10px;
  float: left;
}

main .layout-content .region-content {
  min-width: 100%;
}

main .layout-content .views-row article {
  margin-bottom: 25px;
  padding-top: 0;
  padding-bottom: 40px;
  min-height: 250px;
  height: auto;
  position: relative;
  background: #fff;
}

main .layout-content .views-row article:after {
  content: '';
  display: table;
  clear: both;
}

main .layout-content .views-row article a {
  pointer-events: none;
}

main .layout-content .views-row article a:hover {
  color: grey;
}

main .layout-content .views-row article .image-wrapper.left-col {
  display: inline-block;
  float: left;
}

main .layout-content .views-row article .image-wrapper.left-col .field--name-field-image {
  width: 350px;
  height: auto;
}

main .layout-content .views-row article .image-wrapper.left-col .field--name-field-image img {
  width: 100%;
  height: auto;
}

main .layout-content .views-row article .right-col {
  margin-left: 25px;
  display: inline-block;
  float: left;
  width: 55%;
}

main .layout-content .views-row article .right-col .field--name-title {
  margin: 15px 0;
  font-size: 22px;
  font-weight: 400;
  color: #603551;
}

main .layout-content .views-row article .right-col .field--name-field-more-information {
  margin: 15px 0;
}

main .layout-content .views-row article .right-col .room-conf {
  /* Поля конфігурації кімнати */
}

main .layout-content .views-row article .right-col .room-conf > div {
  display: inline-block;
}

main .layout-content .views-row article .right-col .room-conf .field--name-field-square {
  padding: 0 5px;
  border-right: 1px solid #bcc4c5;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  direction: ltr;
}

main .layout-content .views-row article .right-col .room-conf .field--label-inline .field__label,
main .layout-content .views-row article .right-col .room-conf .field--label-inline .field__item {
  display: none;
  float: none;
}

main .layout-content .views-row article .right-col .field--name-field-amenities {
  margin: 10px 0;
}

main .layout-content .views-row article .right-col .field--name-field-amenities .field__label {
  display: none;
}

main .layout-content .views-row article .right-col .field--name-field-amenities .field__item {
  display: inline-block;
  float: none;
}

main .layout-content .views-row article .right-col .field--name-variations .field__label {
  display: none;
}

main .layout-content .views-row article .right-col .field--name-price {
  display: block;
  position: absolute;
  top: 25px;
  right: 20px;
  font-size: 22px;
  font-weight: 700;
  line-height: 30px;
  color: #603551;
}

.view-empty {
  width: 100%;
  height: 100%;
  background: darkgrey;
}

blockquote {
  margin: 0;
  background: #fff;
  color: #333334;
  padding: 20px 30px;
  position: relative;
  border-left: 35px solid #3D0800;
  font-family: 'Lato', sans-serif;
}

blockquote:before {
  font-family: serif;
  position: absolute;
  left: -29px;
  top: 5px;
  color: #BCBCBC;
  font-size: 50px;
  text-shadow: 1px 2px 0 white;
}

blockquote p {
  margin: 0 8px;
  font-size: 18px;
  line-height: 1.7;
}

blockquote footer {
  margin: 0 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 2;
}

/* BEGIN Magnific pop-up */
/* info http://dimsemenov.com/plugins/magnific-popup/documentation.html#mainclass */
.popup-block div.product-hidden {
  margin: auto;
  padding: 2%;
  height: auto;
  width: 60%;
  position: relative;
  background: #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.popup-block div.product-hidden:after {
  content: '';
  display: table;
  clear: both;
}

.popup-block div.product-hidden a {
  pointer-events: none;
}

.popup-block div.product-hidden a:hover {
  color: grey;
}

.popup-block div.product-hidden .image-wrapper.left-col {
  display: block;
  width: 40%;
  float: left;
  /* BEGIN Image modal */
  /* Modal Content (image) */
  /* Add Animation */
  /* END W3school Image modal */
}

.popup-block div.product-hidden .image-wrapper.left-col .field--name-field-image {
  width: 350px;
  height: auto;
}

.popup-block div.product-hidden .image-wrapper.left-col .field--name-field-image:after {
  content: '';
  display: table;
  clear: both;
}

.popup-block div.product-hidden .image-wrapper.left-col .field--name-field-image .field__item {
  position: relative;
  display: block;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 70px;
  height: 70px;
  overflow: hidden;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 4px;
}

.popup-block div.product-hidden .image-wrapper.left-col .field--name-field-image img {
  width: auto;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.popup-block div.product-hidden .image-wrapper.left-col .field--name-field-image img:hover {
  opacity: 0.85;
}

.popup-block div.product-hidden .image-wrapper.left-col .myModal {
  border-bottom: 1px solid #b8b6b6;
  margin-bottom: 30px;
}

.popup-block div.product-hidden .image-wrapper.left-col .modal-content {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.popup-block div.product-hidden .image-wrapper.left-col .modal-content {
  margin-bottom: 30px;
  display: block;
  width: 450px;
  height: 100%;
  border-radius: 5px;
}

.popup-block div.product-hidden .image-wrapper.left-col .modal-content {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.popup-block div.product-hidden .right-col {
  position: relative;
  margin-left: 25px;
  display: inline-block;
  width: 50%;
  float: left;
}

.popup-block div.product-hidden .right-col fieldset {
  padding: 0;
  border: none;
  border-top: 1px solid #b8b6b6;
}

.popup-block div.product-hidden .right-col legend {
  text-align: center;
  color: #603551;
}

.popup-block div.product-hidden .right-col fieldset.description-fieldset {
  border: none;
  border-top: 1px solid grey;
  /* Поля конфігурації кімнати */
}

.popup-block div.product-hidden .right-col fieldset.description-fieldset .room-conf > div {
  display: inline-block;
}

.popup-block div.product-hidden .right-col fieldset.description-fieldset .field--name-title {
  display: none;
  margin: 15px 0;
  font-size: 22px;
  font-weight: 400;
  color: #603551;
}

.popup-block div.product-hidden .right-col fieldset.description-fieldset .field--name-field-description .field__label {
  display: none;
}

.popup-block div.product-hidden .right-col fieldset.description-fieldset .field--name-field-more-information {
  display: none;
  margin: 15px 0;
}

.popup-block div.product-hidden .right-col fieldset.description-fieldset .field--name-field-square {
  padding: 0 5px;
  border-right: 1px solid #bcc4c5;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  direction: ltr;
}

.popup-block div.product-hidden .right-col fieldset.description-fieldset .field--label-inline .field__label,
.popup-block div.product-hidden .right-col fieldset.description-fieldset .field--label-inline .field__item {
  display: none;
  float: none;
}

.popup-block div.product-hidden .right-col .field--name-field-amenities {
  display: block;
  margin: 10px 0;
  height: auto;
}

.popup-block div.product-hidden .right-col .field--name-field-amenities .field__item {
  display: block;
  float: none;
}

/* END Magnific pop-up */
.layout-sidebar-second {
  width: 25%;
  float: left;
  background: #fff;
}

.layout-sidebar-second #block-contactlocationv1 {
  padding-bottom: 15px;
  width: auto;
  height: auto;
}

.layout-sidebar-second #block-contactlocationv1 h2 {
  margin-bottom: 15px;
  padding: 20px;
  background-color: #464741;
  font-weight: 700;
  color: #fff;
  line-height: 1.5;
}

.layout-sidebar-second #block-contactlocationv1 .field__item {
  margin: 0 20px;
  line-height: 2;
}

.layout-sidebar-second #block-contactlocationv1 .field--name-field-site-name {
  font-size: 14px;
  font-weight: bold;
  line-height: 2.5;
}

.layout-sidebar-second #block-contactlocationv1 .field--name-field-google-maps {
  min-height: 80px;
  line-height: 70px;
  vertical-align: middle;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
}

.region-footer-first {
  padding: 3% 5%;
  height: auto;
  background: #858889;
  color: white;
}

.region-footer-first:after {
  content: '';
  display: table;
  clear: both;
}

.region-footer-first .block-block-content {
  float: left;
}

.region-footer-first .block-block-content:first-child {
  margin-right: 15px;
  margin-bottom: 15px;
  padding-right: 10px;
  max-width: 70%;
  min-width: 40%;
  border-right: 1px solid #979797;
}

.region-footer-first .block-block-content .field--name-field-about-us p {
  margin: 15px auto;
  margin-top: 0;
}

.region-footer-first .block-block-content .field--name-field-main-menu-link {
  margin-bottom: 15px;
}

.region-footer-first .block-block-content .field--name-field-main-menu-link div {
  display: inline-block;
  margin-right: 5px;
}

.region-footer-first .block-block-content .field--name-field-image-gallery:after {
  content: '';
  display: table;
  clear: both;
}

.region-footer-first .block-block-content .field--name-field-image-gallery .field__item {
  display: block;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 70px;
  height: 70px;
  overflow: hidden;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.region-footer-first .block-block-content .field--name-field-image-gallery img {
  width: auto;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.region-footer-first .block-block-content .field--name-field-image-gallery img:hover {
  opacity: 0.85;
}

.region-footer-first #block-features {
  width: 25%;
}

.region-footer-first #block-features h2 {
  margin: 5px 0 15px 0;
  text-transform: uppercase;
}

.region-footer-first #block-features .field--type-list-string {
  display: inline-block;
  margin-right: 20px;
}

.region-footer-first #block-features .field__item {
  padding: 0 4px 4px 0;
  line-height: 1.5;
  float: left;
  display: inline;
  width: 44%;
}

.region-footer-second {
  height: 40px;
  padding: 20px 100px;
  background-color: #464741;
  color: white;
}

.region-footer-second .field--type-link {
  display: inline-block;
}

.region-footer-second .field--type-link a {
  color: white;
  text-decoration: none;
  pointer-events: none;
}

.region-footer-second .field--type-link a:hover {
  color: gray;
}

.region-footer-second .field--name-field-cancellation-policies a {
  margin-left: 10px;
  padding-left: 10px;
  border-left: 1px solid white;
}

.region-footer-second .field--type-text-long {
  display: none;
}

/* --------Datepicker-------- */
/* 1 variant: https://designmodo.com/calendar-jquery-css3/*/
/*2 variant : http://www.9bitstudios.com/2012/11/how-to-style-your-own-jquery-ui-calendar/*/
.ui-datepicker {
  width: 300px;
  height: 300px;
  margin: 5px auto 0;
  font: 12pt Arial, sans-serif;
  /*-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);*/
}

.ui-datepicker table {
  width: 100%;
}

.ui-datepicker-header {
  background: #fff;
  color: #363e40;
  font-family: 'Times New Roman';
}

.ui-datepicker-title {
  text-align: center;
  font-size: 15px;
}

.ui-datepicker-prev {
  float: left;
  cursor: pointer;
  background-position: center -30px;
}

.ui-datepicker-next {
  float: right;
  cursor: pointer;
  background-position: center 0px;
}

.ui-datepicker thead {
  background-color: #f7f7f7;
  border-bottom: 1px solid #fff;
}

.ui-datepicker th {
  background-color: #fff;
  text-transform: uppercase;
  font-size: 8pt;
  color: #666666;
  /*text-shadow: 1px 0px 0px #fff;*/
  filter: dropshadow(color=#fff, offx=1, offy=0);
}

.ui-datepicker tbody td {
  padding: 0;
  border-right: 1px solid #fff;
}

.ui-datepicker tbody td:last-child {
  border-right: 0px;
}

.ui-datepicker tbody tr:last-child {
  border-bottom: 0px;
}

.ui-datepicker a {
  text-decoration: none;
}

.ui-datepicker td span, .ui-datepicker td a {
  display: inline-block;
  /*font-weight: bold;*/
  text-align: center;
  width: 30px;
  height: 30px;
  line-height: 30px;
  color: #ffffff;
  /*text-shadow: 1px 1px 0px #fff;*/
  filter: dropshadow(color=#fff, offx=1, offy=1);
}

.ui-datepicker-calendar .ui-state-default {
  color: #ffffff;
  height: 31px;
  width: 31px;
  padding: -1px -1px;
}

.ui-datepicker-calendar .ui-state-default.ui-state-hover {
  background: green;
  color: #000;
}

.ui-datepicker-calendar .ui-state-active {
  background: green;
  color: #000;
  border: 1px solid #fff;
  position: relative;
}

.ui-datepicker-unselectable .ui-state-default {
  background: #D6E4BE;
  color: #000;
}

#ui-datepicker-div {
  width: 42em;
}

.ui-widget-header {
  font-family: 'Open Sans', sans-serif;
  border: none;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
.ui-button.ui-state-disabled:hover,
.ui-button.ui-state-disabled:active {
  border: 1px solid white;
  background: white;
}

.ui-button.ui-state-disabled:hover,
.ui-button.ui-state-disabled:active {
  border: 1px solid white;
  background: green;
}

.ui-datepicker-calendar .ui-state-default {
  color: #000;
}

.ui-datepicker-other-month {
  color: white;
  background: white;
}

a.ui-state-default.ui-state-highlight {
  background: white;
  text-decoration: underline;
}

.ui-icon-circle-triangle-w {
  background-position: -98px 0px;
}

.ui-icon-circle-triangle-e {
  background-position: -32px 0px;
}

.ui-state-default,
.ui-widget-content .ui-state-default {
  border: none;
}

/* --------END Datepicker-------- */
