@charset "UTF-8";
/* Header icons */
#block-logoandicons .block-content--type-logo-icons .group-right .field--name-field-icons-text .field__item:before {
  margin: auto;
  margin-bottom: 7px;
  display: table;
  text-align: center;
  font-family: "Flaticon";
  color: #fff;
  font-size: 40px;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

#block-logoandicons .block-content--type-logo-icons .group-right .field--name-field-icons-text .field__item:nth-child(1):before {
  /* 24 hours */
  content: '\f10a';
}

#block-logoandicons .block-content--type-logo-icons .group-right .field--name-field-icons-text .field__item:nth-child(2):before {
  /* Daily cleaning */
  content: "\f109";
}

#block-logoandicons .block-content--type-logo-icons .group-right .field--name-field-icons-text .field__item:nth-child(3):before {
  /* Free WIFI internet */
  content: "\f108";
}

#block-logoandicons .block-content--type-logo-icons .group-right .field--name-field-icons-text .field__item:nth-child(4):before {
  /* Parking */
  content: "\f106";
}

#block-logoandicons .block-content--type-logo-icons .group-right .field--name-field-icons-text .field__item:nth-child(5):before {
  /* Breakfast available */
  content: "\f105";
}

#block-logoandicons .block-content--type-logo-icons .group-right .field--name-field-icons-text .field__item:nth-child(6):before {
  /* Breakfast available */
  content: "\f100";
}

/* Product icons */
.field--name-field-queen-bed:before,
.field--name-field-sofa-bed:before,
.field--name-field-bathroom:before,
.field--name-field-outside-view:before,
.field--name-field-smoking:before {
  padding: 0 10px;
  font-family: "Flaticon";
  color: #000;
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

.field--name-field-queen-bed:before {
  content: "";
  border-right: 1px solid #bcc4c5;
}

.field--name-field-sofa-bed:before {
  content: "";
  border-right: 1px solid #bcc4c5;
}

.field--name-field-bathroom:before {
  content: "";
  border-right: 1px solid #bcc4c5;
}

.field--name-field-outside-view:before {
  content: "";
  border-right: 1px solid #bcc4c5;
}

.field--name-field-smoking:before {
  content: "";
}
