/* Header icons */
#block-logoandicons .block-content--type-logo-icons .group-right .field--name-field-icons-text .field__item:before {
  margin: auto;
  margin-bottom: 7px;
  display: table;
  text-align: center;
  font-family: "Flaticon";
  color: #fff;
  font-size: 40px;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

#block-logoandicons .block-content--type-logo-icons .group-right .field--name-field-icons-text .field__item:nth-child(1):before {
  /* 24 hours */
  content: "\f120";
}

#block-logoandicons .block-content--type-logo-icons .group-right .field--name-field-icons-text .field__item:nth-child(2):before {
  /* Daily cleaning */
  content: "\f113";
}

#block-logoandicons .block-content--type-logo-icons .group-right .field--name-field-icons-text .field__item:nth-child(3):before {
  /* Free WIFI internet */
  content: "\f123";
}

#block-logoandicons .block-content--type-logo-icons .group-right .field--name-field-icons-text .field__item:nth-child(4):before {
  /* Parking */
  content: "\f122";
}

#block-logoandicons .block-content--type-logo-icons .group-right .field--name-field-icons-text .field__item:nth-child(5):before {
  /* Breakfast available */
  content: "\f106";
}

#block-logoandicons .block-content--type-logo-icons .group-right .field--name-field-icons-text .field__item:nth-child(6):before {
  /* Location */
  content: "\f116";
}

/* Right sidebar icons */
#block-contactlocationv1 .field--name-field-address::before,
#block-contactlocationv1 .field--name-field-parking::before,
#block-contactlocationv1 .field--name-field-reception-phone::before,
#block-contactlocationv1 .field--name-field-reservation-phone::before,
#block-contactlocationv1 .field--name-field-email::before,
#block-contactlocationv1 .field--name-field-visit-website::before,
#block-contactlocationv1 .field--name-field-google-maps::before {
  content: '';
  margin-right: 8px;
  display: inline-block;
  height: 15px;
  width: 15px;
  background-repeat: no-repeat;
  background-size: contain;
}

#block-contactlocationv1 .field--name-field-address::before {
  background-image: url("icons/png/006-home.png");
}

#block-contactlocationv1 .field--name-field-parking::before {
  background-image: url("icons/png/011-square.png");
}

#block-contactlocationv1 .field--name-field-parking p::before {
  content: '';
  margin-right: 8px;
  display: inline-block;
  height: 15px;
  width: 15px;
  background-image: url("icons/png/011-square.png");
  background-repeat: no-repeat;
  background-size: contain;
}

#block-contactlocationv1 .field--name-field-reception-phone::before {
  background-image: url("icons/png/004-telephone.png");
}

#block-contactlocationv1 .field--name-field-reservation-phone::before {
  background-image: url("icons/png/005-technology.png");
}

#block-contactlocationv1 .field--name-field-email::before {
  background-image: url("icons/png/003-mail-black-envelope-symbol.png");
}

#block-contactlocationv1 .field--name-field-visit-website::before {
  background-image: url("icons/png/002-earth-globe.png");
}

#block-contactlocationv1 .field--name-field-google-maps {
  position: relative;
}

#block-contactlocationv1 .field--name-field-google-maps::before {
  position: absolute;
  top: 15px;
  height: 40px;
  width: 40px;
  background-image: url("icons/png/001-google.png");
}

.field--name-field-square {
  height: 17px;
  margin-top: 4px;
  margin-right: 8px;
  padding: 0;
  padding-right: 5px;
  border-right: 1px solid #bcc4c5;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  display: inline-block;
  text-transform: none;
  direction: ltr;
}

.field--name-field-queen-bed .field__item,
.field--name-field-single-bed .field__item {
  display: inline-block !important;
  font-size: 16px;
  line-height: 22px;
  width: 0;
}

.field--name-field-queen-bed::after,
.field--name-field-single-bed::after,
.field--name-field-sofa-bed::after,
.field--name-field-bathroom::after,
.field--name-field-outside-view::after,
.field--name-field-smoking::after {
  padding: 0 10px;
  font-family: "Flaticon";
  color: #000;
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

.field--name-field-queen-bed::after {
  content: "\f103";
  border-right: 1px solid #bcc4c5;
}

.field--name-field-single-bed::after {
  content: "\f102";
  border-right: 1px solid #bcc4c5;
}

.field--name-field-sofa-bed::after {
  content: "\f10e";
  border-right: 1px solid #bcc4c5;
}

.field--name-field-bathroom::after {
  content: "\f107";
  border-right: 1px solid #bcc4c5;
}

.field--name-field-outside-view::after {
  content: "\f109";
  border-right: 1px solid #bcc4c5;
}

.field--name-field-smoking::after {
  content: "\f115";
}

@media screen and (max-width: 425px) {
  .field--name-field-square {
    margin-right: 0;
  }
  .field--name-field-queen-bed::after,
  .field--name-field-single-bed::after,
  .field--name-field-sofa-bed::after,
  .field--name-field-bathroom::after,
  .field--name-field-outside-view::after,
  .field--name-field-smoking::after {
    padding: 0 8px;
  }
}
