@charset "UTF-8";
/*
    Flaticon icon font: Flaticon
    Creation date: 08/11/2017 21:31
    */
@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"), url("./Flaticon.woff") format("woff"), url("./Flaticon.ttf") format("truetype"), url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

.fi:before {
  display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.flaticon-signs-1:before {
  content: "\f100";
}

.flaticon-big-bed-with-one-pillow:before {
  content: "\f101";
}

.flaticon-kings-size-bed-for-three:before {
  content: "\f102";
}

.flaticon-time:before {
  content: "\f103";
}

.flaticon-cutlery:before {
  content: "\f104";
}

.flaticon-restaurant:before {
  content: "\f105";
}

.flaticon-parking-sign:before {
  content: "\f106";
}

.flaticon-connection:before {
  content: "\f107";
}

.flaticon-internet:before {
  content: "\f108";
}

.flaticon-short-broom:before {
  content: "\f109";
}

.flaticon-delivery:before {
  content: "\f10a";
}

.flaticon-signs:before {
  content: "\f10b";
}

.flaticon-sofa-set:before {
  content: "\f10c";
}

.flaticon-photo-of-a-landscape:before {
  content: "\f10d";
}

.flaticon-bathtub-with-opened-shower:before {
  content: "\f10e";
}

.flaticon-king-size-bed-with-two-pillows:before {
  content: "\f10f";
}

.flaticon-medical:before {
  content: "\f110";
}

.flaticon-cleaning:before {
  content: "\f111";
}

.flaticon-wifi:before {
  content: "\f112";
}

.flaticon-shower:before {
  content: "\f113";
}

.flaticon-snowflake:before {
  content: "\f114";
}

/* Header icons */
#block-logoandicons .block-content--type-logo-icons .group-right .field--name-field-icons-text .field__item:before {
  margin: auto;
  margin-bottom: 7px;
  display: table;
  text-align: center;
  font-family: "Flaticon";
  color: #fff;
  font-size: 40px;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

#block-logoandicons .block-content--type-logo-icons .group-right .field--name-field-icons-text .field__item:nth-child(1):before {
  /* 24 hours */
  content: "";
}

#block-logoandicons .block-content--type-logo-icons .group-right .field--name-field-icons-text .field__item:nth-child(2):before {
  /* Daily cleaning */
  content: "";
}

#block-logoandicons .block-content--type-logo-icons .group-right .field--name-field-icons-text .field__item:nth-child(3):before {
  /* Free WIFI internet */
  content: "";
}

#block-logoandicons .block-content--type-logo-icons .group-right .field--name-field-icons-text .field__item:nth-child(4):before {
  /* Parking */
  content: "";
}

#block-logoandicons .block-content--type-logo-icons .group-right .field--name-field-icons-text .field__item:nth-child(5):before {
  /* Breakfast available */
  content: "";
}

#block-logoandicons .block-content--type-logo-icons .group-right .field--name-field-icons-text .field__item:nth-child(6):before {
  /* Breakfast available */
  content: "";
}

/* Product icons */
.field--name-field-queen-bed:before,
.field--name-field-sofa-bed:before,
.field--name-field-bathroom:before,
.field--name-field-outside-view:before,
.field--name-field-smoking:before {
  padding: 0 10px;
  font-family: "Flaticon";
  color: #000;
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

.field--name-field-queen-bed:before {
  content: "";
  border-right: 1px solid #bcc4c5;
}

.field--name-field-sofa-bed:before {
  content: "";
  border-right: 1px solid #bcc4c5;
}

.field--name-field-bathroom:before {
  content: "";
  border-right: 1px solid #bcc4c5;
}

.field--name-field-outside-view:before {
  content: "";
  border-right: 1px solid #bcc4c5;
}

.field--name-field-smoking:before {
  content: "";
}
