$first_element_width: 200px;



.cart-form {
  background: white;
  padding: 20px;
  padding-bottom: 20px;

  td {
    text-align: center;
  }

  table.views-table {
    margin-bottom: 30px;
    width: 100%;
    thead {
      background: #3D0800;
      line-height: 4em;
      font-weight: bold;
      font-size: 1.2em;
      color: white;

      th {
        //border-bottom: 3px solid #d3d3d3;

        &:first-child {
          min-width: $first_element_width;
        }

        //&:nth-child(2n) {
        //  background: lightgray;
          //border-bottom: 3px solid #d0a7a7;
        //}
      }
    }

    tbody {
      td {
        width: 116px;
        background: #f4f4f0;
        //border-bottom: 3px solid #d3d3d3;

        &:nth-child(2n -1) {
          background: #e8dfdf;
          //border-bottom: 3px solid #d0a7a7;
        }
      }

      .views-field-purchased-entity {
        padding-left: 15px;
        font-size: 18px;
        font-weight: 700;
        text-align: left !important;
      }
      .views-field-unit-price__number,
      .views-field-total-price__number {
        text-align: center;
      }

      .js-form-item {
        margin: 0;
        height: 45px;
        width: auto;
      }
      input {
        height: 100%;
        width: 100%;
        background: inherit;
        border: none;
        border-radius: 0;
        text-align: center;
      }
    }
  }

  .form-actions {
    position: relative;
    margin-top: 10px;
    height: 40px;
    width: auto;

    .button {
      position: absolute;
      height: 100%;
      width: 100px;
      margin: 0;
      border: none;
      border-radius: 5px;
      color: white;
      background: #3D0800;
      cursor: pointer;
    }

    #edit-checkout {
      top: 0;
      right: 0;
    }

    #edit-submit {
      top: 0;
      right: 130px;
    }
  }
}