$slider_width: 350px;
$image-box: 450px;
$color_pink: #603551;

%field_vertical_margin {
  margin: 15px 0;
}

* {
  margin: 0;
  padding: 0;
}

p {
  //font-family: Open Sans,sans-serif;
}

body {
  font-family: Open Sans,sans-serif;
  //font-family: 'Lato', sans-serif;
  font-size: 12px;
}

.region-header-first {
  position: relative;

  #block-bookbtn-blockheadertop {
    padding: 0 100px;
    min-height: 60px;
    background: rgb(70, 71, 65);
    color: white;

    .field {
      float: left;
      line-height: 50px;
      font-size: 22px;
      font-weight: 200;

      &:last-child {
        float: right;
        font-size: 12px;
        font-weight: 700;
      }
    }

    a {
      text-decoration: none;
      color: white;
      pointer-events: none;

      &:hover {
        color: gray;
      }
    }
  }

  #block-languageswitcher {
    height: 350px;
    width: 100%;
    position: absolute;
    top: 100%;
    right: 0;
    display: none;
    background: #000;
    z-index: 100;
    color: white;
    text-transform: uppercase;

     a {
      color: white;
      text-decoration: none;
      pointer-events: none;
      cursor: pointer;
    }
  }
}


.region-header-second {
  position: relative;
  width: 100%;
  height: 350px;
  background-image: url('img/header-background-image.jpg');
  -webkit-background-image: url('img/header-background-image.jpg');
  background-position: 50%;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-color: #220700;


  #block-exposedformapartmentpage-1 {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    min-height: 76px;
    background-color: rgba(0, 0, 0, .6);
  }

  form {
    margin-left: 100px;
  }

  .form-item {
    margin-right: 5px;
    display: inline-block;
    font-size: 13px;
  }

  label,
  input {
    display: block;
  }

  label {
    margin-bottom: 2px;
    color: white;
  }

  input,
  select {
    padding: 6px 12px;
    width: 150px;
    height: 35px;
    border: 1px solid #ccc;
    background-color: #eee;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    opacity: 1;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: 14px;
    color: #555;
    box-sizing: border-box;
  }

  select {
    width: 100px;
    background-color: white;
    align-items: center;
    white-space: pre;
  }

  .form-submit {
    display: none;
  }
}


main {
  padding: 3% 5%;
  background: #eaeaea;
  //font-family: Open Sans,sans-serif;

  &:after {
    content: '';
    display: table;
    clear: both;
  }

  .layout-content {
    margin-right: 20px;
    width: 70%;
    padding-top: 0;
    padding-right: 10px;
    float: left;

    .region-content {
      min-width: 100%;
    }

    .views-row {

      article {
        margin-bottom: 25px;
        padding-top: 0;
        padding-bottom: 40px;
        min-height: 250px;
        height: auto;
        position: relative;
        background: #fff;

        &:after {
          content: '';
          display: table;
          clear: both;
        }

        a {
          pointer-events: none;
          &:hover {
            color: grey;
          }
        }

        .image-wrapper.left-col {
          display: inline-block;
          float: left;

          .field--name-field-image {
            width: $slider_width;
            height: auto;
            img {
              width: 100%;
              height: auto;
            }
          }
        }

        .right-col {
          margin-left: 25px;
          display: inline-block;
          float: left;
          width: 55%;

          .field--name-title {
            margin: 15px 0;
            font-size: 22px;
            font-weight: 400;
            color: #603551;
          }

          .field--name-field-more-information {
            margin: 15px 0;
          }

          .room-conf {

            > div {
              display: inline-block;

            }

            .field--name-field-square {
              padding: 0 5px;
              border-right: 1px solid #bcc4c5;
              font-weight: normal;
              font-style: normal;
              font-size: 16px;
              display: inline-block;
              line-height: 1;
              text-transform: none;
              direction: ltr;
            }

            /* Поля конфігурації кімнати */
            .field--label-inline .field__label,
            .field--label-inline .field__item {
              display: none;
              float: none;
            }
          }

          .field--name-field-amenities {

            margin: 10px 0;

            .field__label {
              display: none;
            }

            .field__item {
              display: inline-block;
              float: none;
            }
          }

          .field--name-variations .field__label {
            display: none;
          }

.field--name-price {
  display: block;
  position: absolute;
  top: 25px;
  right: 20px;
  font-size: 22px;
  font-weight: 700;
  line-height: 30px;
  color: #603551;
}
        }
      }
    }
  }
}

.view-empty {
  width: 100%;
  height: 100%;
  background: darkgrey;
}

blockquote {
  margin: 0;
  background: #fff;
  color: #333334;
  padding: 20px 30px;
  position: relative;
  border-left: 35px solid #3D0800;
  font-family: 'Lato', sans-serif;
}

blockquote:before {
  font-family: serif;
  position: absolute;
  left: -29px;
  top: 5px;
  color: #BCBCBC;
  font-size: 50px;
  text-shadow: 1px 2px 0 white;
}
blockquote p {
  margin: 0 8px;
  font-size: 18px;
  line-height: 1.7;
}
blockquote footer {
  margin: 0 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 2;
}


/* BEGIN Magnific pop-up */
/* info http://dimsemenov.com/plugins/magnific-popup/documentation.html#mainclass */
.popup-block {
  article.product-hidden {
    margin: auto;
    padding: 2%;
    height: auto;
    width: 60%;
    position: relative;
    background: #fff;


    &:after {
      content: '';
      display: table;
      clear: both;
    }

    a {
      pointer-events: none;
      &:hover {
        color: grey;
      }
    }

    .image-wrapper.left-col {
      display: block;
      width: 40%;
      float: left;

      .field--name-field-image {
        width: $slider_width;
        height: auto;

        &:after {
          content: '';
          display: table;
          clear: both;
        }

        .field__item {
          position: relative;
          display: block;
          float: left;
          margin-right: 10px;
          margin-bottom: 10px;
          width: 70px;
          height: 70px;
          overflow: hidden;
          -webkit-border-radius: 2px;
          -moz-border-radius: 2px;
          border-radius: 2px;
        }

        img {
          width: auto;
          height: 100%;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;

          &:hover {
            opacity: 0.85;
          }
        }
      }

      /* BEGIN Image modal */
      .myModal {
        border-bottom: 1px solid #b8b6b6;
        margin-bottom: 30px;
      }

      .modal-content {
        border-radius: 5px;
        cursor: pointer;

        transition: 0.3s;
      }

      ///* The Modal (background) */
      //.modal {
      //  display: none; /* Hidden by default */
      //  position: absolute; /* Stay in place */
      //  z-index: 1; /* Sit on top */
      //  padding-top: 100px; /* Location of the box */
      //  left: 0;
      //  top: 0;
      //  width: 100%; /* Full width */
      //  height: 100%; /* Full height */
      //  overflow: auto; /* Enable scroll if needed */
      //  background-color: rgb(0,0,0); /* Fallback color */
      //  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
      //}

      /* Modal Content (image) */
      .modal-content {
        margin-bottom: 30px;
        display: block;
        width: 450px;
        height: 100%;
        border-radius: 5px;
      }

      /* Add Animation */
      .modal-content {
        -webkit-animation-name: zoom;
        -webkit-animation-duration: 0.6s;
        animation-name: zoom;
        animation-duration: 0.6s;
      }

      @-webkit-keyframes zoom {
        from {-webkit-transform:scale(0)}
        to {-webkit-transform:scale(1)}
      }

      @keyframes zoom {
        from {transform:scale(0)}
        to {transform:scale(1)}
      }

      /* END W3school Image modal */

        //
          //.image-box {
          //  position: absolute;
          //  top: 0;
          //  left: 0;
          //  width: $image-box;
          //  border-bottom: 1px solid grey;
          //
          //  img {
          //    width: auto;
          //    height: 100%;
          //    -webkit-box-sizing: border-box;
          //    -moz-box-sizing: border-box;
          //    box-sizing: border-box;
          //
          //  }
          //}


    }

    .right-col {
      position: relative;
      margin-left: 25px;
      display: inline-block;
      width: 50%;
      float: left;

      fieldset {
        padding: 0;
        border: none;
        border-top: 1px solid #b8b6b6;
      }

      legend {
        text-align: center;
        color: $color_pink;
      }

      fieldset.description-fieldset {
        border: none;
        border-top: 1px solid grey;

        .room-conf {
          @extend %field_vertical_margin;
          & > div {
            display: inline-block;

          }
        }

        .field--name-title {
          display: none;
          margin: 15px 0;
          font-size: 22px;
          font-weight: 400;
          color: #603551;
        }

        .field--name-field-description {
          @extend %field_vertical_margin;

          .field__label {
            display: none;
          }
        }

        .field--name-field-more-information {
          display: none;
          margin: 15px 0;
        }

        .field--name-field-square {
          padding: 0 5px;
          border-right: 1px solid #bcc4c5;
          font-weight: normal;
          font-style: normal;
          font-size: 16px;
          display: inline-block;
          line-height: 1;
          text-transform: none;
          direction: ltr;
        }

        /* Поля конфігурації кімнати */
        .field--label-inline .field__label,
        .field--label-inline .field__item {
          display: none;
          float: none;
        }
      }


      .field--name-field-amenities {
        display: block;
        margin: 10px 0;
        height: auto;

        .field__item {
          display: block;
          float: none;
        }
      }
      }
    }
  }
/* END Magnific pop-up */




.layout-sidebar-second {
  width: 25%;
  float: left;
  background: #fff;

  #block-contactlocationv1 {
    padding-bottom: 15px;
    width: auto;
    height: auto;

    h2 {
      margin-bottom: 15px;
      padding: 20px;
      background-color: #464741;
      font-weight: 700;
      color: #fff;
      line-height: 1.5;
    }

    .field__item {
      margin: 0 20px;
      line-height: 2;
    }

    .field--name-field-site-name {
      font-size: 14px;
      font-weight: bold;
      line-height: 2.5;
    }

    .field--name-field-google-maps {
      min-height: 80px;
      line-height: 70px;
      vertical-align: middle;
      border-top: 1px solid #eaeaea;
      border-bottom: 1px solid #eaeaea;
    }
  }
}

.region-footer-first {
  padding: 3% 5%;
  height: auto;
  background: #858889;
  color: white;

  &:after {
    content: '';
    display: table;
    clear: both;
  }

  .block-block-content {
    float: left;

    &:first-child {
      margin-right: 15px;
      margin-bottom: 15px;
      padding-right: 10px;
      max-width: 70%;
      min-width: 40%;
      border-right: 1px solid #979797;
    }

    .field--name-field-about-us p {
      margin: 15px auto;
      margin-top: 0;
    }

    .field--name-field-main-menu-link {
      margin-bottom: 15px;
    }

    .field--name-field-main-menu-link div {
      display: inline-block;
      margin-right: 5px;
    }

    .field--name-field-image-gallery {

      &:after {
        content: '';
        display: table;
        clear: both;
      }

      .field__item {
        display: block;
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
        width: 70px;
        height: 70px;
        overflow: hidden;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
      }

      img {
        width: auto;
        height: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;

        &:hover {
          opacity: 0.85;
        }
      }
    }
  }

  #block-features {
    width: 25%;

    h2 {
      margin: 5px 0 15px 0;
      text-transform: uppercase;
    }

    .field--type-list-string {
      display: inline-block;
      margin-right: 20px;
    }

    .field__item {
      padding: 0 4px 4px 0;
      line-height: 1.5;
      float: left;
      display: inline;
      width: 44%;
    }
  }
}

.region-footer-second {
  height: 40px;
  padding: 20px 100px;
  background-color: #464741;
  color: white;

  .field--type-link {
    display: inline-block;

    a {
      color: white;
      text-decoration: none;
      pointer-events: none;

      &:hover {
        color: gray;
      }
    }
  }

  .field--name-field-cancellation-policies a {
    margin-left: 10px;
    padding-left: 10px;
    border-left: 1px solid white;
  }

  .field--type-text-long {
    display: none;
  }
}




/* --------Datepicker-------- */
/* 1 variant: https://designmodo.com/calendar-jquery-css3/*/
/*2 variant : http://www.9bitstudios.com/2012/11/how-to-style-your-own-jquery-ui-calendar/*/

.ui-datepicker {
  width: 300px;
  height: 300px;
  margin: 5px auto 0;
  font: 12pt Arial, sans-serif;
  /*-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);*/
}

.ui-datepicker table {
  width: 100%;
}

.ui-datepicker-header {
  background: #fff;
  color: #363e40;
  font-family:'Times New Roman';
  //border-width: 1px 0 0 0;
  //border-style: solid;
  //border-color: #111;
}


.ui-datepicker-title {
  text-align: center;
  font-size: 15px;

}

.ui-datepicker-prev {
  float: left;
  cursor: pointer;
  background-position: center -30px;
}

.ui-datepicker-next {
  float: right;
  cursor: pointer;
  background-position: center 0px;
}

.ui-datepicker thead {
  background-color: #f7f7f7;

  border-bottom: 1px solid #fff;
}

.ui-datepicker th {
  background-color:#fff;
  text-transform: uppercase;
  font-size: 8pt;
  color: #666666;
  /*text-shadow: 1px 0px 0px #fff;*/
  filter: dropshadow(color=#fff, offx=1, offy=0);
}

.ui-datepicker tbody td {
  padding: 0;
  border-right: 1px solid #fff;
}

.ui-datepicker tbody td:last-child {
  border-right: 0px;
}

.ui-datepicker tbody tr {
  //border-bottom: 1px solid #fff;
}

.ui-datepicker tbody tr:last-child {
  border-bottom: 0px;
}

.ui-datepicker a {
  text-decoration: none;
}

.ui-datepicker td span, .ui-datepicker td a {
  display: inline-block;
  /*font-weight: bold;*/
  text-align: center;
  width: 30px;
  height: 30px;
  line-height: 30px;
  color: #ffffff;
  /*text-shadow: 1px 1px 0px #fff;*/
  filter: dropshadow(color=#fff, offx=1, offy=1);
}

.ui-datepicker-calendar .ui-state-default {
  //background: linear-gradient(#999999, #737373);
  color:#ffffff;
  height:31px;
  width:31px;
  padding: -1px -1px;

}

.ui-datepicker-calendar .ui-state-default.ui-state-hover {
  background: green;
  color: #000;
  //border: none;
  //padding: -1px -1px;

}

.ui-datepicker-calendar .ui-state-active {
  background: green;
  //-webkit-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .1);
  //-moz-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .1);
  //box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .1);
  color: #000;
  //text-shadow: 0px 1px 0px #4d7a85;
  border: 1px solid #fff;
  position: relative;
  //margin: -1px;
}

.ui-datepicker-unselectable .ui-state-default {
  background: #D6E4BE;
  color: #000;
}

#ui-datepicker-div {
  width: 42em;
}

.ui-widget-header {
  font-family: 'Open Sans', sans-serif;
  border: none;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
.ui-button.ui-state-disabled:hover,
.ui-button.ui-state-disabled:active {
  border: 1px solid white;
  background: white;
}

.ui-button.ui-state-disabled:hover,
.ui-button.ui-state-disabled:active {
  border: 1px solid white;
  background: green;
}

.ui-datepicker-calendar .ui-state-default {
  color: #000;
}

.ui-datepicker-other-month {
  color: white;
  background: white;

}

a.ui-state-default.ui-state-highlight {
  background: white;
  text-decoration: underline;
}

.ui-icon-circle-triangle-w {
  background-position: -98px 0px;
}

.ui-icon-circle-triangle-e {
  background-position: -32px 0px;
}

.ui-state-default,
.ui-widget-content .ui-state-default {
  border: none;
}
/* --------END Datepicker-------- */