$slider_width: 350px;
$image-box: 450px;
$color_main: #3D0800;

%field_vertical_margin {
  margin: 15px 0;
}

* {
  margin: 0;
  padding: 0;
}

p {
  //font-family: Open Sans,sans-serif;
}
// style for popup vertical images
img[src*="vertical"] {
  margin: auto !important;
  width: 44% !important;
  //height: 230px !important;
  margin-bottom: 30px !important;
}


body {
  font-family: Open Sans,sans-serif;
  //font-family: 'Lato', sans-serif;
  font-size: 12px;
}

.region-header-first {
  position: relative;
  height: 90px;
  padding: 0 3%;
  background: rgb(70, 71, 65);
  color: white;
  &:after {
    content: '';
    display: table;
    clear: both;
  }
  #block-bookbtn-branding {
    float: left
  }
  #block-bookbtn-blockheadertop {
    float: right;
    padding-right: 50px;
    .field {
      font-size: 12px;
      font-weight: 700;
      }
    .field--name-field-currency-language {
      height: 100%;
      a {
        text-decoration: none;
        color: white;
        line-height: 7em;
        cursor: pointer;
        -webkit-transition: all 0.3s linear;
        -moz-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
        transition: all 0.3s linear;
        &:hover {
          color: gray;
        }
      }
    }
  }
  #block-languageswitcher {
    height: auto;
    width: 200px;
    position: absolute;
    top: 100%;
    right: 0;
    display: none;
    background: #000;
    z-index: 100;
    color: white;
    text-transform: uppercase;
    opacity: 0.8;
    ul {
      margin: 20px;
      margin-left: 15px;
      list-style: none;
      li {
        line-height: 3em;
        cursor: pointer;
        a {
          text-decoration: none;
          color: white;
          text-decoration: none;
          &:hover {
            color: grey;
            -webkit-transition: all 0.2s linear;
            -moz-transition: all 0.2s linear;
            -o-transition: all 0.2s linear;
            transition: all 0.2s linear;
          }
        }
      }

    }
  }
}


.region-header-second {
  position: relative;
  width: 100%;
  height: 450px;
  background-image: url('img/background_header.jpg');
  -webkit-background-image: url('img/background_header.jpg');
  background-position: 50%;
  background-size: cover;


  #block-exposedformapartmentpage-1 {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    min-height: 76px;
    background-color: rgba(0, 0, 0, .6);
  }

  form {
    margin-left: 5%;
  }

  .form-item {
    margin-right: 5px;
    display: inline-block;
    font-size: 13px;
  }

  label,
  input {
    display: block;
  }

  label {
    margin-bottom: 2px;
    color: white;
  }

  input,
  select {
    padding: 6px 12px;
    width: 150px;
    height: 35px;
    border: 1px solid #ccc;
    background-color: #eee;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    opacity: 1;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    font-size: 14px;
    color: #555;
    box-sizing: border-box;
  }

  select {
    width: 100px;
    background-color: white;
    align-items: center;
    white-space: pre;
  }

  .form-submit {
    display: none;
  }
}


main {
  padding: 3% 5%;
  background: #eaeaea;
  //font-family: Open Sans,sans-serif;

  &:after {
    content: '';
    display: table;
    clear: both;
  }

  .view-empty{

  }

  .layout-content {
    margin-right: 20px;
    width: 75%;
    padding-top: 0;
    padding-right: 10px;
    float: left;

    .region-content {
      min-width: 100%;
    }

    .views-row {

      article {
        margin-bottom: 25px;
        padding-top: 0;
        min-height: 250px;
        height: auto;
        background: white;


        .product-item {
          display: block;
          position: relative;
          background: #fff;

          &:after {
            content: '';
            display: table;
            clear: both;
          }

          a {
            pointer-events: none;
            &:hover {
              color: grey;
            }
          }

          .image-wrapper.left-col {
            display: inline-block;
            float: left;
            cursor: pointer;

            .field--name-field-image {
              width: $slider_width;
              height: auto;
              img {
                width: 100%;
                height: auto;
                cursor: pointer;
              }
            }
          }

          .right-col {
            padding-left: 25px;
            display: inline-block;
            float: left;
            width: 40%;

            .field--name-title {
              margin: 15px 0;
              font-size: 22px;
              font-weight: 400;
              color: #3D0800;
            }

            .field--name-field-more-information {
              margin: 15px 0;
              cursor: pointer;
            }

            .room-conf {

              > div {
                display: inline-block;

              }

              .field--name-field-square {
                padding: 0 5px;
                border-right: 1px solid #bcc4c5;
                font-weight: normal;
                font-style: normal;
                font-size: 16px;
                display: inline-block;
                line-height: 1;
                text-transform: none;
                direction: ltr;
              }

              /* Поля конфігурації кімнати */
              .field--label-inline .field__label,
              .field--label-inline .field__item {
                display: none;
                float: none;
              }
            }

            .field--name-field-amenities {

              margin: 10px 0;

              .field__label {
                display: none;
              }

              .field__item {
                display: inline-block;
                float: none;
              }
            }
          }
        }
      }

      .variations-custom {
        float: right;
        height: 250px;
        width: 15%;
        position: relative;

        .variations-custom-wrap {
          position: absolute;
          top: 30%;
          right: -22px;
          transform: translate(-50%, -50%);

        .field--name-price {
            .field__label {
              font-size: 15px;
              font-weight: 700;
              line-height: 1em;
              color: #3D0800;
            }

            .field__item {
              font-size: 15px;
              font-weight: 700;
              line-height: 1em;
              color: #3D0800;
            }
          }

          .field--name-variations {
            margin-top: 10px;
            height: 40px;
            width: 100px;
            .form-item, .form-actions {
              margin-top: 0em;
              margin-bottom: 0em;
            }
            .field__label {
              display: none;
            }

            .form-actions {
              height: 40px;
              width: 100px;
              .button {
                height: 100%;
                width: 100%;
                border: none;
                border-radius: 4px;
                color: white;
                font-weight: bolder;
                background: #3D0800;
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }
}

blockquote {
  margin-bottom: 25px;
  background: #fbf1f1;
  color: #333334;
  padding: 20px 30px;
  position: relative;
  border-left: 35px solid #3D0800;
  font-family: 'Lato', sans-serif;
}

blockquote:before {
  font-family: serif;
  position: absolute;
  left: -29px;
  top: 5px;
  color: #BCBCBC;
  font-size: 50px;
  text-shadow: 1px 2px 0 white;
}
blockquote p {
  margin: 0 8px;
  font-size: 18px;
  line-height: 1.7;
}
blockquote footer {
  margin: 0 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 2;
}


/* BEGIN Magnific pop-up */
/* info http://dimsemenov.com/plugins/magnific-popup/documentation.html#mainclass */
.popup-block {
  div.product-hidden {
    margin: auto;
    padding: 2%;
    height: auto;
    width: 60%;
    position: relative;
    background: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

    &:after {
      content: '';
      display: table;
      clear: both;
    }

    a {
      pointer-events: none;
      &:hover {
        color: grey;
      }
    }

    .image-wrapper.left-col {
      display: block;
      width: 40%;
      float: left;

      .field--name-field-image {
        width: 100%;
        height: auto;

        &:after {
          content: '';
          display: table;
          clear: both;
        }

        .field__item {
          position: relative;
          display: block;
          float: left;
          margin-right: 10px;
          margin-bottom: 10px;
          width: 70px;
          height: 70px;
          overflow: hidden;
          -webkit-border-radius: 2px;
          -moz-border-radius: 2px;
          border-radius: 4px;
        }

        img {
          width: auto;
          height: 100%;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          cursor: pointer;

          &:hover {
            opacity: 0.85;
          }
        }

        img[src*="vertical"] {
          margin: auto !important;
          width: auto !important;
          height: 230px !important;
          margin-bottom: 30px !important;
        }
      }

      /* BEGIN Image modal */
      .myModal {
        border-bottom: 1px solid #b8b6b6;
        margin-bottom: 30px;
      }

      .modal-content {
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;
        margin-bottom: 30px;
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 5px;
      }

      /* Add Animation */
      .modal-content {
        -webkit-animation-name: zoom;
        -webkit-animation-duration: 0.4s;
        animation-name: zoom;
        animation-duration: 0.4s;
      }

      @-webkit-keyframes zoom {
        from {-webkit-transform:scale(0)}
        to {-webkit-transform:scale(1)}
      }

      @keyframes zoom {
        from {transform:scale(0)}
        to {transform:scale(1)}
      }
      /* END W3school Image modal */
    }

    .right-col {
      position: relative;
      margin-left: 25px;
      display: inline-block;
      width: 50%;
      float: left;

      fieldset {
        padding: 0;
        border: none;
        border-top: 1px solid #b8b6b6;
      }

      legend {
        text-align: center;
        text-transform: uppercase;
        color: $color_main;
      }

      fieldset.description-fieldset {
        border: none;
        border-top: 1px solid grey;

        .room-conf {
          @extend %field_vertical_margin;
          & > div {
            display: inline-block;

          }
        }

        .field--name-title {
          display: none;
          margin: 15px 0;
          font-size: 22px;
          font-weight: 400;
          color: #3D0800;
        }

        .field--name-field-description {
          @extend %field_vertical_margin;

          .field__label {
            display: none;
          }
        }

        .field--name-field-more-information {
          display: none;
          margin: 15px 0;
        }

        .field--name-field-square {
          padding: 0 5px;
          border-right: 1px solid #bcc4c5;
          font-weight: normal;
          font-style: normal;
          font-size: 16px;
          display: inline-block;
          line-height: 1;
          text-transform: none;
          direction: ltr;
        }

        /* Поля конфігурації кімнати */
        .field--label-inline .field__label,
        .field--label-inline .field__item {
          display: none;
          float: none;
        }
      }


      .field--name-field-amenities {
        display: block;
        margin: 10px 0;
        height: auto;

        .field__label {
          display: none;
        }

        .field__item {
          display: block;
          float: none;
        }
      }
      }
    }
  }
/* END Magnific pop-up */




.layout-sidebar-second {
  width: 22%;
  float: left;
  background: #fff;

  #block-contactlocationv1 {
    padding-bottom: 15px;
    width: auto;
    height: auto;

    h2 {
      margin-bottom: 15px;
      padding: 20px;
      background-color: #464741;
      font-weight: 700;
      color: #fff;
      line-height: 1.5;
    }

    .field__item {
      margin: 0 20px;
      line-height: 2;
    }

    .field--name-field-site-name {
      font-size: 14px;
      font-weight: bold;
      line-height: 2.5;
    }

    .field--name-field-google-maps {
      min-height: 80px;
      line-height: 70px;
      vertical-align: middle;
      border-top: 1px solid #eaeaea;
      border-bottom: 1px solid #eaeaea;
    }
  }
}

.region-footer-first {
  padding: 3% 5%;
  height: auto;
  background: #858889;
  color: white;

  &:after {
    content: '';
    display: table;
    clear: both;
  }

  #block-aboutus {
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
    width: 75%;
    border-right: 1px solid #979797;
    .field--name-field-about-us p {
      margin: 15px auto;
      margin-top: 0;
    }
    .field--name-field-main-menu-link {
      margin-bottom: 15px;
    }
    .field--name-field-main-menu-link div {
      display: inline-block;
      margin-right: 5px;
    }
    .field--name-field-image-gallery {
      &:after {
        content: '';
        display: table;
        clear: both;
      }
      .field__item {
        display: block;
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
        width: 70px;
        height: 70px;
        overflow: hidden;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        &:nth-child(1) {
          img {
            width: 100%;
            height: auto;
          }
        }
        &:nth-child(2) {
          img {
            width: 100%;
            height: auto;
          }
        }
      }
      img {
        width: auto;
        height: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        cursor: pointer;
        &:hover {
          opacity: 0.85;
        }
      }
    }
  }

  #block-features {
    float: left;
    width: 22%;

    h2 {
      margin: 5px 0 15px 0;
      text-transform: uppercase;
    }

    .field--type-list-string {
      display: inline-block;
    }

    .field__item {
      padding: 0 4px 4px 0;
      line-height: 1.5;
      float: left;
      display: inline;
      width: 44%;
    }
  }
}

.region-footer-second {
  height: 40px;
  padding: 20px 100px;
  background-color: #464741;
  color: white;

  .field--type-link {
    display: inline-block;

    a {
      color: white;
      text-decoration: none;
      pointer-events: none;

      &:hover {
        color: gray;
      }
    }
  }

  .field--name-field-cancellation-policies a {
    margin-left: 10px;
    padding-left: 10px;
    border-left: 1px solid white;
  }

  .field--type-text-long {
    display: none;
  }
}


/*-------Slick--------*/
.slick-prev {
  left: 15px;
  z-index: 100;
}

.slick-next {
  right: 15px;
  z-index: 100;
}

.slick-prev:before, .slick-next:before {
  font-family: 'slick';
  font-size: 25px;
  line-height: 1;
  opacity: .75;
  color: gray;

}
/*------END Slick-----*/

/*------BEGIN Media requests------*/
@media (max-width: 1268px) {
  .layout-content,
  .layout-sidebar-second,
  #block-aboutus,
  #block-features {
    width: 100% !important;
  }

  #block-aboutus {
    border: none !important;
  }

  .product-hidden {
    padding: 5% !important;
    width: 80% !important;
    .description-wrapper {
      width: 100%;
      padding-left: 0 !important;
    }
  }
}

@media (max-width: 925px) {
  .image-wrapper.left-col {
    width: 100% !important;
    .field--name-field-image {
      width: 100% !important;
      height: auto !important;
    }
  }
  .product-item {
    .right-col {
      width: 90% !important;
      margin-left: 0 !important;
      padding-left: 3%;
    }
  }

  .product-hidden {
    .right-col {
      margin-left: 0;
      width: 100%;
      height: 100px;
    }
  }

  main .layout-content .views-row .variations-custom {
    margin-top: 35px;
    height: 70px !important;
    width: 100% !important;
    .variations-custom-wrap {
      right: -70px;
      .field--name-price {
        margin-top: 13px;
        margin-left: 14px;
        float: left;
        margin-right: 20px;
        padding-top: 4px;
      }

      .field--name-variations {
        float: left
      }
    }
  }
}

//@media screen and (max-width: 768px) {
//  div.product-hidden {
//    .image-wrapper.left-col {
//      width: 100% !important;
//      display: inline-block !important;
//      float: left !important;
//      cursor: pointer !important;
//
//      .field--name-field-image {
//        width: 100% !important;
//        height: auto !important;
//        .field__item {
//          margin-right: 0 !important;
//          margin-bottom: 20px !important;
//          height: auto !important;
//          img {
//            width: 100% !important;
//            height: auto !important;
//            cursor: pointer !important;
//          }
//          img[src*="vertical"] {
//            margin: auto !important;
//            width: auto !important;
//            height: 44% !important;
//          }
//        }
//      }
//    }
//  }
//}

@media (max-width: 565px) {
  .bef-exposed-form .form--inline > .form-item {
    float: none;
  }
  main .layout-content .views-row .variations-custom .variations-custom-wrap {
    right: -90px;
  }
}
/*------END Media requests------*/