    /*
    Flaticon icon font: Flaticon
    Creation date: 13/11/2017 10:19
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-table:before { content: "\f100"; }
.flaticon-electric-iron:before { content: "\f101"; }
.flaticon-sleeping:before { content: "\f102"; }
.flaticon-sleep:before { content: "\f103"; }
.flaticon-buildings:before { content: "\f104"; }
.flaticon-technology:before { content: "\f105"; }
.flaticon-restaurant:before { content: "\f106"; }
.flaticon-furniture:before { content: "\f107"; }
.flaticon-telephone:before { content: "\f108"; }
.flaticon-photo:before { content: "\f109"; }
.flaticon-connection:before { content: "\f10a"; }
.flaticon-tool:before { content: "\f10b"; }
.flaticon-mail-black-envelope-symbol:before { content: "\f10c"; }
.flaticon-flatscreen-tv:before { content: "\f10d"; }
.flaticon-null:before { content: "\f10e"; }
.flaticon-earth-globe:before { content: "\f10f"; }
.flaticon-home:before { content: "\f110"; }
.flaticon-monitor:before { content: "\f111"; }
.flaticon-toiletries:before { content: "\f112"; }
.flaticon-cleaning-service:before { content: "\f113"; }
.flaticon-bubble:before { content: "\f114"; }
.flaticon-signs-1:before { content: "\f115"; }
.flaticon-signs:before { content: "\f116"; }
.flaticon-shower:before { content: "\f117"; }
.flaticon-feeding-chair:before { content: "\f118"; }
.flaticon-towel:before { content: "\f119"; }
.flaticon-fridge:before { content: "\f11a"; }
.flaticon-wifi:before { content: "\f11b"; }
.flaticon-hairdryer:before { content: "\f11c"; }
.flaticon-washing-machine:before { content: "\f11d"; }
.flaticon-hob:before { content: "\f11e"; }
.flaticon-floor:before { content: "\f11f"; }
.flaticon-clock:before { content: "\f120"; }
.flaticon-air-conditioner:before { content: "\f121"; }
.flaticon-square:before { content: "\f122"; }
.flaticon-internet:before { content: "\f123"; }
.flaticon-dust:before { content: "\f124"; }
    
    $font-Flaticon-table: "\f100";
    $font-Flaticon-electric-iron: "\f101";
    $font-Flaticon-sleeping: "\f102";
    $font-Flaticon-sleep: "\f103";
    $font-Flaticon-buildings: "\f104";
    $font-Flaticon-technology: "\f105";
    $font-Flaticon-restaurant: "\f106";
    $font-Flaticon-furniture: "\f107";
    $font-Flaticon-telephone: "\f108";
    $font-Flaticon-photo: "\f109";
    $font-Flaticon-connection: "\f10a";
    $font-Flaticon-tool: "\f10b";
    $font-Flaticon-mail-black-envelope-symbol: "\f10c";
    $font-Flaticon-flatscreen-tv: "\f10d";
    $font-Flaticon-null: "\f10e";
    $font-Flaticon-earth-globe: "\f10f";
    $font-Flaticon-home: "\f110";
    $font-Flaticon-monitor: "\f111";
    $font-Flaticon-toiletries: "\f112";
    $font-Flaticon-cleaning-service: "\f113";
    $font-Flaticon-bubble: "\f114";
    $font-Flaticon-signs-1: "\f115";
    $font-Flaticon-signs: "\f116";
    $font-Flaticon-shower: "\f117";
    $font-Flaticon-feeding-chair: "\f118";
    $font-Flaticon-towel: "\f119";
    $font-Flaticon-fridge: "\f11a";
    $font-Flaticon-wifi: "\f11b";
    $font-Flaticon-hairdryer: "\f11c";
    $font-Flaticon-washing-machine: "\f11d";
    $font-Flaticon-hob: "\f11e";
    $font-Flaticon-floor: "\f11f";
    $font-Flaticon-clock: "\f120";
    $font-Flaticon-air-conditioner: "\f121";
    $font-Flaticon-square: "\f122";
    $font-Flaticon-internet: "\f123";
    $font-Flaticon-dust: "\f124";